<app-header></app-header>
<h1 class="message">Quantos patinhos foram passear?</h1>
<form >   
    <div class="formGroup">
        <mat-form-field class="defaultform">
            <mat-label>patinhos</mat-label>
            <input matInput type="number"  #qtdPatinhos >
           
          </mat-form-field>

          <button mat-fab extended class="botao" (click)="enviarNumeroDePatinhos(qtdPatinhos.value)">
            Gerar letra
           </button>
    </div>
</form>

<div class="container">
  <div class="row" *ngIf="letra">
    <p><h2 class="defaultLetra">{{letra.refrao}}</h2>
      <p><h2 class="defaultLetra">{{letra.meio}}</h2>
        <p><h2 class="defaultLetra">{{letra.fim}}</h2>
  </div>
</div>
   
