form{
    padding: 0rem 0 0 35%;
    
    
}

.botao{
    background-color: white; color: black;

}

.formGroup{
        display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;
}
.defaultform{
  
    width: 45%;
}

.message{
    
    padding: 3% 0 0 37%;

}

.defaultLetra{

  text-align: center;
  
  padding: 0rem 40rem 0rem 40rem;
  margin: 0px -1% 0px -1%;
}